/* https://www.color-hex.com/color-palette/106355 */
/* https://www.schemecolor.com/spiderman.php */
/* https://www.dafont.com/the-amazing-spider-man.font */

/* Base styles */
@font-face {
  font-family: Spiderman;
  src: url(../public/fonts/the_amazing_spider_man/The\ Amazing\ Spider-Man.ttf);
}


:root {
  --light-red: #DF1F2D;
  --dark-red: #df1f2d;
  --dark-blue: #2b3784;
  --light-blue: #447BBE;
  --primary-dark: #3f3f3f;
  --primary-light: #e2e2e2;

  --xxl-font-size: 120px;
  --xl-font-size: 80px;
  --l-font-size: 32px;
  --m-font-size: 25px;
  --text-font-size: 20px;
  --bold-font-weight: bold;
  --avg-font-weight: normal;
  --spiderman-font-family: Spiderman;
  --normal-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--normal-font-family);
  background-color: #000000;
  color: var(--primary-light);
  font-size: var(--text-font-size);
  height: 200vh;
}

h1,
h2,
h3 {
  font-family: var(--spiderman-font-family);
  font-weight: var(--bold-font-weight);
}

h1 {
  font-size: var(--xxl-font-size);
}

h2 {
  font-size: var(--xl-font-size);
}

h3 {
  font-size: var(--m-font-size);
}

.primary-button {
  color: var(--dark-red);
  background-color: var(--dark-blue);
  border: 2px solid var(--light-red);
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: var(--spiderman-font-family);
  text-align: center;
}

.primary-button:hover {
  color: var(--dark-blue);
  background-color: var(--light-red);
}

.secondary-button {}

.secondary-button:hover {}

.big-button {
  font-size: var(--xxl-font-size);
  font-weight: var(--bold-font-weight);
  padding: 15px;
}

.small-button {
  font-size: var(--m-font-size);
  font-weight: var(--bold-font-weight);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.alttitle {
  margin-top: -50px;
  display: flex;
  gap: 10px;
  letter-spacing: 5px;
}

/* NAV styles */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: transparent;
  left: 0;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 1001;
}

.navbar-element {
  padding: 20px;
}

.navbar-links {
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.navbar-logo {
  height: 70px;
  width: 70px;
  transition: all 0.3s ease;
}

.navbar-link {
  font-size: var(--m-font-size);
  font-weight: var(--bold-font-weight);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-family: var(--spiderman-font-family);
  text-align: center;
  transition: all 0.3s ease;
  width: 150px;
}

.navbar-link:hover {
  text-transform: uppercase;
  transform: scale(0.8);
}

.navbar-link-black {
  color: rgb(0, 0, 0);
}

.navbar-link-black:hover {
  color: var(--primary-light);
}

.navbar-link-white {
  color: var(--primary-light);
  border-bottom: 2px solid var(--primary-light);
}

.navbar-link-white:hover {
  background-color: var(--primary-light);
  color: rgb(0, 0, 0);
}

/* Hero styles */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  position: relative;
  align-items: center;
  background-color: var(--dark-red);
  top: 0;
  width: 100%;
  left: 0;
}

.overlay {
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.hero-title-element {
  z-index: 1000;
  margin-top: -20%;
  color: var(--primary-light);
}

.alt-line {
  color: var(--dark-blue);
  font-size: var(--m-text-size);
  margin-top: -12px;
}

.hero-image-element {
  position: fixed;
  bottom: 10%;
}

.hero-image {
  z-index: 999;
}

/* Actors section */

.actors-section {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.actors-title-element {
  display: flex;
  flex-direction: column;
  padding: 200px;
  padding-bottom: 100px;
}

.alt-line-actors {
  color: var(--dark-red);
  font-size: var(--m-text-size);
  margin-top: -12px;
}

.actors-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.actors-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-light);
  width: 25%;
  gap: 50px;
  height: 600px;
}

.card-image-container {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#peterImage {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%), url("../public/images/peter1.png");
}

#maryImage {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%), url("../public/images/mary1.png");
}

#harryImage {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%), url("../public/images/harry1.png");
}

.card-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.card-name {
  font-family: var(--spiderman-font-family);
  font-size: var(--l-font-size);
  text-transform: uppercase;
}

.card-alias {
  font-family: var(--spiderman-font-family);
  font-size: var(--m-font-size);
  text-transform: uppercase;
}

.card-desc {
  font-family: var(--normal-font-family);
  font-size: var(--text-font-size);
}